
  @import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: #888;
    background-image: url("indian tri color.avif");
    background-size: cover;
}
/* CONTAINER 1 CSS PROPERTIES */
.container-1 {
    width: 100vw;
    /* background-color: black; */
    padding: 2rem;
    color: black;
    text-align: center;
}
.container-1-1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h1 {
    font-family: 'Young Serif',serif;

}
h2, h4, p{
    font-family: 'Young Serif',serif;
    /* font-size: 2rem; */
    display: inline-block;
}

/* CONTAINER 2 CSS PROPERTIES */
.container-2 {
    padding: 2rem;
    color: black;
    text-align: center;
    display: flex;

}
/* right and left section of .container-2 */
.right, .left {
    text-align: center;
    width: 50%;
}
/* right section of container 2 */
.right {
    padding: 2rem 0 0 2rem;
}

.quote {
    font-size: 2.5rem;
}
.kalamji {
    height: 16rem;
    width: 14rem;
    border-radius: 1rem;
    mix-blend-mode: multiply;
}

/* .container-3 CSS PROPERTIES */
.container-3 {
    padding: 1rem 8rem;
}
.container-3 p {
    text-align: center;
}
hr{
    border-style: dotted none none ;
    border-width: 5px;
    width: 60%;
    height: 0;
    /* text-align: center; */
    margin: 90px auto 90px auto;
}